/* ubuntu-latin-300-normal */
@font-face {
  font-family: 'Ubuntu2';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-300-normal.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-300-normal.woff) format('woff');
}
/* ubuntu-latin-300-italic */
@font-face {
  font-family: 'Ubuntu2';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-300-italic.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-300-italic.woff) format('woff');
}
/* ubuntu-latin-400-normal */
@font-face {
  font-family: 'Ubuntu2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-400-normal.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-400-normal.woff) format('woff');
}
/* ubuntu-latin-400-italic */
@font-face {
  font-family: 'Ubuntu2';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-400-italic.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-400-italic.woff) format('woff');
}
/* ubuntu-latin-500-normal */
@font-face {
  font-family: 'Ubuntu2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-500-normal.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-500-normal.woff) format('woff');
}
/* ubuntu-latin-500-italic */
@font-face {
  font-family: 'Ubuntu2';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-500-italic.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-500-italic.woff) format('woff');
}
/* ubuntu-latin-700-normal */
@font-face {
  font-family: 'Ubuntu2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-700-normal.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-700-normal.woff) format('woff');
}
/* ubuntu-latin-700-italic */
@font-face {
  font-family: 'Ubuntu2';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ubuntu/files/ubuntu-latin-700-italic.woff2) format('woff2'), url(@fontsource/ubuntu/files/ubuntu-latin-700-italic.woff) format('woff');
}
