name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 22.x

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          rust-channel: ${{ env.RUST_CHANNEL }}
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: ${{ env.NODE_VERSION }}
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Build
        run: pnpm build

  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          rust-channel: ${{ env.RUST_CHANNEL }}
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Generate theme types
        run: pnpm generate-theme

      - name: Type Check
        run: pnpm type-check

      - name: Lint
        run: pnpm lint

  generate:
    runs-on: ubuntu-latest
    name: Generate
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          rust-channel: ${{ env.RUST_CHANNEL }}
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: pnpm generate
      - name: Check for Changes
        run: |
          if [[ $(git status --porcelain) ]]; then
            echo "Changes detected in generated files. Please commit the changes."
            git status
            exit 1
          else
            echo "No changes detected in generated files."
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          rust-channel: ${{ env.RUST_CHANNEL }}
          save-cache: ${{ github.ref == 'refs/heads/main' }}

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium

      - name: Test
        run: pnpm test
