name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - ".github/workflows/release.yml"
      - "src/**"
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  NODE_VERSION: 22.x

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Setup pnpm with cache
        uses: ./.github/actions/setup-pnpm
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Playwright Browsers
        run: pnpm exec playwright install

      - name: Test
        run: pnpm test

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Create release PR
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          commit: "Version packages"
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Upload release asset
        if: steps.changesets.outputs.published == 'true'
        run: |
          set -e
          LATEST_TAG=$(gh release list --limit 1 --json tagName -q '.[0].tagName')
          gh release upload "$LATEST_TAG" dist/design-system.tgz
          echo "Uploaded $ASSET to the release $TAG"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
